@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-orange-50;
  }
}

@layer components {
  .btn {
    @apply px-5 py-3 rounded-md;
  }

  .btn-primary {
    @apply btn text-white bg-slate-700;
  }

  .btn-outline {
    @apply btn text-black bg-transparent outline outline-1;
  }
}

@layer utilities {
  .neumorphism {
    box-shadow: 5px 5px 10px #f2ebe1, -5px -5px 10px #fffff9;
  }
  .font-gradient {
    @apply bg-gradient-to-r from-amber-400 to-orange-500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
