@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-orange-50;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md;
  }
  .btn-primary {
    @apply btn bg-orange-500 text-white;
  }
  .btn-secondary {
    @apply btn bg-gray-400 text-white;
  }
}

@layer utilities {
  .neumorphism {
    box-shadow: 5px 5px 10px #f2ebe1, -5px -5px 10px #fffff9;
  }
  .font-gradient {
    @apply bg-gradient-to-r from-amber-400 to-orange-500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
